# Build / output
/build
/dist
/.next
/out
next-env.d.ts
*.tsbuildinfo

# Dependencies
/node_modules

# Logs
*.log
npm-debug.log*

# Env / secrets
.env
.env.local
.env*.local

# Editor / OS
.DS_Store
.idea
.vscode/*
!.vscode/settings.json

# Test / coverage
.nyc_output
coverage
cypress/videos
cypress/screenshots
