{
    "extension": [
        ".js",
        ".jsx",
        ".ts",
        ".tsx"
    ],
    "include": ["**"],
    "exclude": [
      "**/*.d.ts",
      "**/*.spec.ts",
      "**/test/**"
    ],
    "reporter": [
      "text",
      "html"
    ]
  }
